*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    position: relative;
    z-index: 10000;
    height: 5rem;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    background:teal;
    box-shadow: 0 1px 10px  black;
}
.navbar{
    width: 40vw;
    font-family: 'Yellowtail', cursive;
    margin-left: 2.5rem;
    color: white;
}
.list{
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
}
.list a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    text-decoration: none;
    color: white;
    display: block;
    position: relative;
}
.list a::after{
    transition: 0.4s;
    content: "";
    width: 0;
    position: absolute;
    height: 4px;
    display: block;
    background-color: rgb(253, 253, 253);
}
.list a:hover::after{
    width: 100%;
}
.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1422&q=80"), linear-gradient(rgb(75, 72, 72), rgb(212, 206, 206));
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
}
.title{
    margin-bottom: 2rem;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    color: white;
}
.cari{
    padding: .7rem 1.6rem;
    border: none;
    background-color: teal;
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
.cari:hover{
    background-color: rgb(25, 94, 94);
    transform: translateY(-2px);
}
.list-tk{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    position: relative;
}
.title-tk{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-top: 2rem;
}
.collection .col{
    width: 30vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    background-color: teal;
    border-radius: 10px;
}
.collection{
    margin-top: 80px;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
img{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.col-title{
    position: relative;
    height: 2000px;
    width: 100px;
    transform: translateY(-20px);
    overflow: hidden;
    transition: 0.5s;
}
.col-title:hover{
    transform:translateY(2000px);
}
.images-1{
    overflow: hidden;
    background: url("https://images.unsplash.com/photo-1588075592446-265fd1e6e76f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
    transition: 0.5s;
    background-size: cover;
}
.images-1:hover{
    background: url("https://images.unsplash.com/photo-1588075592446-265fd1e6e76f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"), linear-gradient(black, white);
    background-size: cover;
    background-blend-mode: multiply;
}

.footer{
    width: 100vw;
    height: 20vh;
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-logo{
    color: white;
}
.footer-col{
    color: white;
    display: flex;
    width: 500px;
    justify-content: space-around;

}
.footer-logo a{
    color: white;
}
.footer-col a{
    color: wheat;
}
.footer-col a:hover{
    color: rgb(146, 146, 231);
}